.a-loader-title {
    visibility: hidden;
    }
.a-dialog{
    /* background-color: rgba(118, 255, 97, 0.75);
    backdrop-filter: blur(7px); */
    background-color: rgba(255, 20, 147, 0.8);
    backdrop-filter: blur(8px);
    }
.a-dialog-text{
    font: PingFangSC-Bold, 'Ubuntu Mono', monospace;;
    color: #eaff00;
    }
.a-dialog-allow-button {
    background-color: rgba(118, 255, 97, 0.75);
    }
.a-dialog-deny-button {
    background-color: black;
    }
.a-dialog-ok-button {
    background-color: yellow;
    }