<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <!-- <div class="wrapper"> -->
      {{ content }}
    <!-- </div> -->
  </main>

  {%- include footer.html -%}

  <iframe src="/palace/" style="position: fixed; border: none; height: 100%; width: 100%; overflow: hidden; z-index: -1;">Your out-dated browser doesn't support iFrames.您的傻逼瀏覽器不支持內嵌網頁 </iframe>

</body>

</html>