<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <iframe src="/palace/" style="position: absolute; border: none; height: 100%; width: 100%;">Your out-dated browser doesn't support iFrames.您的傻逼瀏覽器不支持內嵌網頁 </iframe>

    {%- include header.html -%}
  <div style="margin: 30px;">
    <h2>三維場景加載中...</h2>
    <h2>3D Scene Loading...</h2>
    <h3>從大陸訪問建議使用VPN :)</h3>
  </div>
  <div style="position: absolute ; bottom: 0px; width: 100%;">
    {%- include footer.html -%}
  </div>
  </body>

</html>

